<h2>Topic of the Day</h2>

<iframe width="560" height="315" src="//www.youtube.com/embed/OKQpnH3RJt0" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<br>
<br>
<table class="table table-striped">
  <tr>
    <th>Forum</th>
    <th>Last post</th>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td>
      <%= link_to forum.name, forum %><br>
      <%= forum.description %>
    </td>
    <td>
      <%= link_to forum.posts.last.content, forum.posts.last.topic %><br> by <%= forum.posts.last.user.username %>
     <!-- sort this out later, this just gets the last element not the one most recently commented on -->
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @forum %>
  <%= link_to 'New Forum', new_forum_path %>
<% end %>
