<h2 id="topicoftheday">Topic of the Day</h2>

<div id="topicsection" class="clearfix">
  <iframe width="560" height="315" src="//www.youtube.com/embed/OKQpnH3RJt0" frameborder="0" allowfullscreen></iframe>
  <div id="mythoughts">
  <a href="/topics/50"><h4>blah blah blah</h4></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat.</p>
  </div>
</div>

<table class="table table-striped">
  <tr>
    <th>Forum</th>
    <th>Last post</th>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td>
      <%= link_to forum.name, forum %><br>
      <%= forum.description %>
    </td>
    <td>
      <%if forum.posts.last %>
      <%= link_to forum.posts.last.content, forum.posts.last.topic %><br> by <%= forum.posts.last.user.username %>
      <%end%>
     <!-- I need to refer to the posts one to make it go specifically to what I want, don't forget this! -->
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @forum %>
  <%= link_to 'New Forum', new_forum_path %>
<% end %>
