<h1>Topics Index</h1>
<hr>

<% @topics.each do |topic| %>

  <h2><%= link_to topic.title, topic %></h2>
  
  <p><%= topic.description %></p>

  <%= link_to 'Edit', edit_topic_path(topic), class: "btn btn-primary" %>
  <%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
<br>
<br>
<hr>
<br>
<% end %>

<%= paginate @topics %>

<br>



