<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>User:</b>
  <%= @topic.user %>
</p>


<p>
  <b>Description:</b>
  <%= @topic.description %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

<h2>Comments</h2>

<ul>
  <% @topic.posts.each do |post| %>
  <li><%= post %></li>
  <% end %>
</ul>

<h2>Comment</h2>

<%= form_tag("/posts", method: "post") do %>
  <%= hidden_field_tag("user_id", current_user.id) %>
  <%= hidden_field_tag "topic_id", @topic.id %>
  <%= text_area_tag "content" %><br>
  <%= submit_tag %>
<% end %>
