<!DOCTYPE html>
<html>
<head>
  <title>GameSetAndChat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h1 class="animated bounceInRight">Game Set and Chat!</h1>
        <h2 class="animated bounceInLeft"><small>The Ultimate Tennis Forum</small></h2>
      </div>
      <div class="col-md-8 text-right">
        <%= image_tag("logo.jpeg", class: "animated flip") %>
      </div>
    </div>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/about">About Me</a></li>
            <li class="active"><a href="/house">House Rules</a></li>
            <li class="active"><a href="/recom">Recommended Sites</a></li>
          </ul>
            <% if current_user %>
              <p class="navbar-text navbar-right">Signed in as <%= link_to current_user.username, current_user %> | <%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
              </ul>
            <% else %>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <li><%= link_to "Register", new_user_registration_path %></li>
              </ul>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="pop">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </div>
</body>
</html>
